<div class="py-5 border-2 border-red-800">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
    aspernatur officiis in voluptatibus veniam ipsum pariatur possimus harum
    laudantium optio nulla at temporibus ratione vel quam illum amet sapiente
    suscipit dolores, vitae aut exercitationem molestias deserunt libero! Cum
    voluptatibus atque quae numquam beatae minima fugiat cupiditate dolorum
    possimus incidunt nesciunt necessitatibus natus quaerat sunt ratione velit,
    tempora aspernatur quisquam molestiae, voluptas eaque hic repellat, libero
    alias! Iste dolore porro labore magnam optio, a hic adipisci eius
    praesentium officiis cumque sapiente illum! Aperiam sint architecto harum
    necessitatibus quos quod error temporibus hic optio repellendus assumenda,
    voluptates illo libero veniam adipisci quaerat delectus, corrupti facere.
    Officiis delectus mollitia, aut enim et eum numquam nesciunt inventore
    molestiae nam neque dignissimos quisquam magnam ipsa dicta, expedita
    corporis consectetur officia. Natus sed sit fugit architecto explicabo! Nam
    similique quas nesciunt! Eligendi dicta culpa assumenda! Magni praesentium
    expedita, nemo earum sequi sapiente quasi quia aliquid ratione hic rerum quo
    dolorem similique a voluptatum quis, voluptates error? Expedita, explicabo.
    Excepturi iure at eaque, deleniti nemo, mollitia nam dolores eum blanditiis,
    facilis deserunt iste dignissimos voluptates nihil. Eos culpa, commodi, est
    maiores doloremque qui in doloribus, nam veniam nihil asperiores velit
    repellat odio nulla molestias voluptatibus. Laboriosam quidem magnam magni,
    iusto vero, consequuntur consequatur eius doloremque iste asperiores sed
    tempore adipisci suscipit facilis dolore error, placeat nobis quibusdam
    saepe ad maxime eum laudantium nam. Rerum minus itaque ipsa expedita tempora
    cumque dolore in dolor culpa. Voluptate nisi consequatur harum temporibus
    minima eum recusandae dolor laborum delectus molestiae porro, fuga eos
    inventore quae enim asperiores quibusdam iure veniam mollitia obcaecati!
    Explicabo asperiores reiciendis assumenda maxime veritatis eos velit
    voluptate esse eveniet debitis, harum omnis. Nemo, quae. Vitae voluptatibus
    corrupti odio aperiam impedit minus molestiae, earum distinctio eveniet
    accusantium animi fugiat similique, aspernatur illum reiciendis eaque quasi
    unde nam libero nemo doloribus optio facere! Adipisci placeat doloribus
    quasi quas atque eveniet aspernatur quia! Animi quibusdam consequuntur modi
    earum voluptates quasi eos ratione, laborum porro labore unde magni quae
    odio beatae eaque delectus repudiandae optio nisi magnam sapiente? Voluptas,
    delectus reprehenderit dolores ipsa cum eaque, praesentium asperiores eius a
    provident voluptatum sequi non. Et porro nemo veniam consequatur
    perspiciatis nam, odit corporis labore ratione adipisci tenetur aliquid est
    quia minus unde perferendis maiores reprehenderit dolorem ut, modi libero.
    Officia debitis, fugit ex sequi iure doloremque! Ab error nam alias, ratione
    molestias necessitatibus earum amet sequi velit quasi maxime inventore vel,
    iste perferendis fuga mollitia labore incidunt eaque suscipit ea blanditiis
    minima? Tenetur, dolore. Illo maxime laborum alias minus, eligendi, nesciunt
    repudiandae soluta ab quos consectetur suscipit distinctio cupiditate, quasi
    corporis non. Amet, blanditiis minus corporis vel nulla accusantium
    molestiae sunt voluptas! Aut deserunt blanditiis natus cum vero voluptatum
    debitis. Natus blanditiis ea, saepe mollitia nisi asperiores maxime quo ab
    dolore laudantium incidunt quis corporis cum eaque quia aperiam cupiditate,
    eveniet dolorum veniam eligendi. Eius, iste? Sapiente cumque eligendi sed
    nihil et est, magni autem voluptas natus quod cupiditate provident quidem ab
    voluptate fuga? Laborum, iste. Ex enim dolor placeat consectetur velit.
  </p>
</div>

<!-- <div class="overflow-y-scroll w-full h-full border-2 border-red-300">
    <div class="mx-5 flex flex-col md:flex-row md:flex-wrap gap-2 md:gap-2">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
        pariatur autem, quos beatae explicabo ratione dolorem, dolor dolore
        obcaecati mollitia cum recusandae vel culpa ducimus aliquam temporibus,
        unde velit placeat asperiores harum magni similique illum. Repellendus
        aspernatur quo quas magnam veniam esse! Vero iusto commodi soluta
        voluptatum! Officia error, nisi consequatur odit, voluptates facere
        provident vel enim quod assumenda illum ad animi libero ex. Explicabo
        dolorem, repudiandae natus architecto exercitationem esse voluptatibus
        blanditiis sunt impedit non libero facilis, quia minus est suscipit
        voluptate rerum fugiat. Amet doloribus ad molestias repudiandae fuga
        exercitationem ratione reiciendis voluptate tempora, inventore
        quibusdam. Repellat, officia!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex in illo,
        vero quas, neque architecto vel magnam accusantium maiores magni, modi
        quae voluptates qui rerum nihil. Optio corporis at odio amet harum
        deserunt est qui error nesciunt perspiciatis. Sapiente quasi aliquid
        incidunt perspiciatis praesentium quae dolorum temporibus sunt assumenda
        voluptatibus, ducimus commodi pariatur, suscipit aliquam consequuntur
        non? In, tempora cumque. Soluta animi consequuntur at quisquam quibusdam
        facere, sunt asperiores ut molestiae nesciunt, iure placeat saepe
        nostrum eveniet, voluptate ipsa fugit. Ex doloremque provident ipsa
        architecto dignissimos perferendis accusamus mollitia sed tempore iure
        praesentium rem deserunt corporis ipsam, natus consequatur unde error
        beatae! Nisi ea aperiam perspiciatis rerum reiciendis nulla architecto
        facere molestiae saepe harum optio consequatur odio aut excepturi
        officia unde, consequuntur numquam exercitationem. Sunt deleniti
        architecto officia consectetur voluptates ab enim fugit optio vitae
        assumenda, repellendus libero dolorum ipsam praesentium earum, iure
        sequi modi non perferendis eaque esse sint officiis nisi. Id doloremque
        recusandae similique necessitatibus repellendus voluptatum, ut
        aspernatur laudantium perferendis asperiores, est tempora itaque animi
        quibusdam! Beatae sit tempore debitis est repellendus officiis nam odit
        nulla molestiae fugiat dolores dignissimos excepturi itaque laboriosam
        numquam quod aperiam nostrum molestias et ipsum voluptates, hic vel.
        Dicta non quas quos velit, laboriosam neque corrupti cum! Laudantium
        doloremque molestiae obcaecati, similique ea sunt odit voluptates
        voluptatem repudiandae, eligendi nulla sint? Iusto quas asperiores
        suscipit facilis officiis voluptatibus enim alias repudiandae odit rerum
        quod quasi exercitationem soluta omnis nam, consequatur sunt. Inventore
        porro tempora, error at aliquam architecto ea accusantium officiis
        dolores earum? Optio pariatur vel esse, at vero natus delectus
        perferendis quod corporis ducimus tenetur quae quo non quidem itaque
        necessitatibus hic. Dolor aperiam pariatur, quasi nam minima dolorem,
        earum corporis, nesciunt eum tempore saepe rerum est quam consequuntur
        labore suscipit voluptate corrupti sequi ratione! Esse, a, officiis
        praesentium perspiciatis tenetur voluptate in ab error sapiente corrupti
        iusto! Voluptates eveniet reprehenderit aperiam exercitationem
        excepturi, sunt praesentium accusamus nobis in beatae nihil enim ipsam
        numquam quibusdam voluptatem distinctio eum perferendis cum odit
        aspernatur possimus earum, hic quisquam! Corporis laudantium, voluptatum
        nulla natus exercitationem molestiae esse molestias laboriosam doloribus
        accusamus tempore officia voluptatem? Vel quo magnam distinctio
        temporibus quasi numquam quam molestiae expedita consequuntur optio?
        Nemo totam dolorum rem libero cumque ullam vel, quo ducimus, ut commodi,
        facilis porro ab quaerat nobis sed. Nemo eos, facilis ratione quis
        voluptate earum temporibus recusandae enim quae magnam? Impedit nisi
        fuga ut magni asperiores, alias iure, ab ad labore vitae omnis debitis
        dignissimos fugiat atque eum, explicabo voluptates placeat. Explicabo a
        beatae maxime recusandae sed hic sint? Nemo ut molestiae ipsum provident
        enim eveniet, dolore sapiente modi suscipit nam minima. Iure ipsa
        exercitationem, fugiat aspernatur velit provident id vero ad voluptates
        earum nihil! Iste adipisci nemo labore enim saepe doloribus similique
        suscipit nisi exercitationem sint mollitia facilis asperiores iusto quam
        modi, accusamus voluptates ut eius aliquam eligendi, magni sit inventore
        dolor. Repudiandae, ea ab amet illo maiores officia corporis autem ipsum
        explicabo. Blanditiis aperiam ad quas ex magnam cupiditate reprehenderit
        aspernatur porro vitae ipsum ducimus autem voluptates sequi unde soluta
        fugiat libero laboriosam, quo modi reiciendis natus laborum dignissimos!
        Aspernatur ipsam deserunt, odit aliquam tempora sit fugiat, dignissimos
        similique repudiandae illum dolorem quae rem iste veniam delectus animi
        porro hic. Quia, repellat temporibus perspiciatis illum, quibusdam
        doloribus necessitatibus fugiat architecto deleniti recusandae
        dignissimos voluptate ex tenetur dicta fugit suscipit. Recusandae sed
        beatae perspiciatis eum maiores placeat. Rerum illo laborum blanditiis
        error. Reiciendis harum repudiandae unde nostrum. Neque illum
        dignissimos perferendis velit cum at, quod non obcaecati labore deleniti
        quas similique quidem error, quo voluptatem sit officiis consectetur
        iusto fuga. Nostrum odit corrupti veritatis expedita minima itaque minus
        ipsum maiores. Ipsam debitis ab eaque, quo, ullam consectetur impedit ex
        sapiente exercitationem omnis et libero perferendis! Necessitatibus
        rerum blanditiis similique iure ab minus suscipit deserunt eligendi
        optio atque, dolorum harum doloremque fugit autem consectetur, vitae,
        amet sint fugiat quam odio nulla aliquid impedit perspiciatis. Et
        perferendis consequuntur soluta excepturi deleniti mollitia vitae
        fugiat? Provident dolorem voluptatum quae ad, odio tempora nesciunt,
        omnis sequi enim id incidunt impedit atque velit ducimus dolorum ut
        nulla iure ullam nisi aliquam laudantium. Temporibus expedita ratione
        praesentium neque, quidem ab nisi optio, aliquid error enim libero
        sapiente esse iusto eos sed quo molestiae ut quaerat, fuga
        exercitationem rem. Quis non obcaecati sunt ducimus consequuntur
        pariatur a commodi accusantium earum architecto necessitatibus veniam
        nesciunt, vitae dignissimos. Modi aliquam autem veritatis facilis
        excepturi corporis animi optio voluptates eos distinctio asperiores
        velit illum, nobis quia rem odio voluptatibus dolor eveniet tenetur
        officia cupiditate, sunt illo? Nemo provident rem quos, rerum dolorum
        modi quia cum optio facilis animi exercitationem fugiat dolor nihil!
        Repudiandae corporis dolore quaerat, rerum culpa, exercitationem quo
        sint eaque harum libero in aut sequi fuga voluptas dicta dolorum
        necessitatibus iste perferendis quas labore quis eius ex, consequuntur
        vitae. Nesciunt sit vero inventore saepe eius labore non quod,
        cupiditate molestiae, quia aspernatur eum. Cupiditate dolorem, ipsum
        molestiae quas praesentium beatae deserunt similique dolor doloremque
        eum ea officiis harum natus enim qui provident perspiciatis incidunt
        quisquam. Minima, pariatur iste quos ducimus quasi magni enim
        repellendus sint inventore est repudiandae voluptas quia beatae ratione.
        Omnis culpa, ut illo tenetur vero accusantium iste ducimus laudantium
        repellat, delectus, aperiam officia velit unde alias quas ratione
        voluptatibus a in suscipit fugiat. Repudiandae iusto odio libero
        voluptatum atque. Cum, explicabo consectetur delectus odio dolore
        repellendus nesciunt animi ex cupiditate, iusto atque omnis nam minima
        laudantium aspernatur, aliquid fugit quis eius rerum nobis iste!
        Incidunt sequi magni, hic quia dolores similique pariatur nihil. Odio
        impedit distinctio eum vitae molestiae cum tenetur, dolores voluptatem
        inventore pariatur maxime ut! Illum natus itaque accusamus asperiores
        nam laudantium hic illo libero? Id libero magnam ea suscipit quidem in,
        dignissimos iusto totam ipsa deserunt. Vel quam consectetur beatae
        molestiae quasi unde cumque totam velit nobis, aperiam laborum, ipsam
        enim repellendus excepturi sed odit! Reprehenderit accusamus itaque
        dolor a, exercitationem necessitatibus sit, voluptatum ducimus hic
        quibusdam cum eligendi porro sed labore dolorem dignissimos maiores ut,
        magnam architecto est. Atque recusandae inventore similique iure
        possimus ipsa provident esse minus.
      </p>
      <div
        *ngFor="let task of tasksService.tasks; let i = index"
        class="relative group p-2 border rounded-md drop-shadow-sm md:flex-row md:basis-1/4 lg:basis-1/5"
      >
        <h3 class="underline">
          {{ task.taskTitle }} |
          <span class="font-light text-sm"
            >{{ task.dueDate }} at {{ task.dueTime }}</span
          >
        </h3>
        <p class="text-sm">
          {{ task.description }}
        </p>
        <div
          class="hidden absolute group-hover:flex inset-0 bg-slate-300/95 opacity-30"
        ></div>
        <div
          class="hidden absolute group-hover:flex inset-0 justify-center gap-1"
        >
          <button (click)="complete(i)" class="text-green-500">
            <svg-icon key="done" size="xl"></svg-icon>
          </button>
          <button (click)="delete(i)" class="text-red-500">
            <svg-icon key="delete" size="xl"></svg-icon>
          </button>
        </div>
      </div>
    </div>
  </div> -->
