<header class="flex flex-col bg-slate-800">
  <div class="text-center p-4 text-slate-400 font-bold">TASK MASTER</div>
  <nav>
    <div class="flex items-center w-full">
      <a
        href="/"
        class="bg-slate-300 active:bg-slate-300/80 w-[33.3%] py-1 text-center"
      >
        Home
      </a>
      <a
        href="/"
        class="bg-orange-400 active:bg-orange-400/80 py-1 w-[33.3%] text-center"
      >
        All Tasks
      </a>
      <a
        href="/"
        class="bg-green-400 active:bg-green-400/80 py-1 w-[33.3%] text-center"
      >
        Completed
      </a>
    </div>
  </nav>
</header>
