<main>
  <section>
    <p class="text-center font-semibold tracking-wider">
      Your Personal Pathway to Productivity
    </p>
  </section>
  <section class="mt-8">
    <form class="flex flex-col gap-2">
      <input type="text" name="title" required placeholder="Title of task" />
      <textarea
        name="desc"
        id="desc"
        rows="5"
        required
        placeholder="Task description"
      ></textarea>
      <input type="date" name="duedate" required id="date" />
      <input type="time" name="duetime" required id="time" />
      <button
        class="bg-slate-600 text-slate-200 font-bold px-5 py-1 rounded-full self-center hover:bg-slate-600/90 active:bg-slate-800/60"
      >
        Create
      </button>
    </form>
    <div></div>
  </section>
</main>
